
.project-description{
    display: flex;
    flex-direction: column;
    gap: 16px;
}



.project-image img{
    max-inline-size: 100%;
}

@media screen and (min-width: 768px){
    .project-project{
        display: flex;
        align-items: center;
        gap: 32px;
        padding: 80px 0;
    }
    .project-description{
        flex: 1;
    }
    .project-image{
        flex: 1;
        text-align: center;

    }
    .odd{
        order: 2;
    }
}

.project-card{
    margin: 80px 0;
    padding: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    background: rgba(255, 255, 255, 0.2) border-box;
    backdrop-filter: blur(40px);
    position: relative;
    border-radius: 20px;
}

.project-card::after{
    content:"";
  position:absolute;
  z-index:-1;
  top:0;
  left:0;
  right:0;
  bottom:0;
  padding: 3px;
  border-radius: inherit;
  background: linear-gradient(to right bottom, #fff 10%, transparent, transparent, transparent);
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.span1{
    font: var(--comment2);
    text-align: center;
}

.span2{
    font: var(--headline5);
    opacity: 50%;
    text-transform: uppercase;
}

